@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background-color: darkcyan;
}

form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 20px 20px 40px #000;
  font-size: 0;
}

form h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

form input,
button {
  padding: 10px;
  font-size: 2rem;
}

form button {
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}

form .addBtn {
  border: 2px solid cadetblue;
  background-color: cadetblue;
  color: #fff;
}

form .addBtn:hover {
  background-color: transparent;
  color: cadetblue;
}

form .removeBtn {
  border: 2px solid red;
  background-color: red;
  color: #fff;
}

form .removeBtn:hover {
  background-color: transparent;
  color: red;
}

form ul {
  margin-top: 40px;
  list-style-type: none;
  font-size: 2rem;
}

form ul li {
  margin-top: 20px;
}
